/*.MotorControl-container {
    position: relative; 
    height: 0; 
    width: 100%; 
    padding: 0;
    padding-bottom: 100%; 
  }

.MotorControl-svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
}
*/

.MotorControl-svg {
    max-width: 100vw;
    max-height: calc(100vh - 100px);
}